* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  transition: 0.5s;
}
:root {
  --neutral-0: #FFF;
  --neutral-10: #033a80;
  --neutral-20: #E5E7EB;
  --neutral-30: #033a80;
  --neutral-40: #AEB2BA;
  --neutral-50: #6B7280;
  --neutral-60: #4B5563;
  --neutral-70: #374151;
  --neutral-80: #1F2937;
  --neutral-90: #111827;
  --neutral-100: #030712;
}
#main-wrap {
  margin-top: 98px;
}
@media (max-width: 739px) {
  #main-wrap {
    margin-top: 86px;
  }
}
.container {
  max-width: 1440px;
  margin: auto;
}
.wrapper {
  padding: 0 72px;
}
@media (max-width: 739px) {
  .wrapper {
    padding: 0 20px;
  }
}
section {
  padding: 72px 0;
}
@media (max-width: 739px) {
  section {
    padding: 40px 0;
  }
}
.responsive-img {
  height: auto;
  max-width: 100%;
}
@media (max-width: 739px) {
  .mobile-hidden {
    display: none !important;
  }
}
@media (max-width: 979px) {
  .tablet-hidden {
    display: none !important;
  }
}
.btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.32px;
}
@media (max-width: 739px) {
  .btn {
    padding: 10px 24px;
  }
}
.btn--light {
  color: var(--neutral-100);
  border: 1px solid var(--neutral-100);
}
.btn--light:hover {
  background: var(--neutral-100);
  color: var(--neutral-0);
}
.btn--light:hover svg path {
  stroke: var(--neutral-0) !important;
}
.btn--dark {
  background: var(--neutral-100);
  border: 1px solid var(--neutral-100);
  color: var(--neutral-0);
}
.btn--dark:hover {
  background: var(--neutral-0);
  color: var(--neutral-100);
}
.btn--dark:hover svg path {
  stroke: var(--neutral-100) !important;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: var(--neutral-0);
}
.header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 739px) {
  .header {
    padding: 20px 0;
  }
}
.header .hdr-logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .hdr-cta a svg {
  margin-left: 12px;
}
.hero-unit {
  padding: 72px 0;
}
@media (max-width: 739px) {
  .hero-unit {
    padding: 40px 0;
  }
}
.hero-unit__content--top {
  color: var(--neutral-100);
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  /* 33.6px */
  letter-spacing: 0.84px;
  margin-bottom: 16px;
}
@media (max-width: 739px) {
  .hero-unit__content--top {
    text-align: center;
  }
}
.hero-unit__content--hero {
  margin-bottom: 56px;
}
@media (max-width: 739px) {
  .hero-unit__content--hero {
    margin-bottom: 24px;
  }
}
.hero-unit__content--hero h1 {
  color: var(--neutral-100);
  font-size: 104px;
  font-weight: 700;
  line-height: 100%;
  /* 104px */
  letter-spacing: -2.08px;
}
.hero-unit__content--hero h1 span {
  color: var(--neutral-40);
}
@media (max-width: 739px) {
  .hero-unit__content--hero h1 {
    font-size: 72px;
    letter-spacing: -1.44px;
    text-align: center;
  }
}
.hero-unit__content--double {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 979px) {
  .hero-unit__content--double {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 979px) {
  .hero-unit__content--double .hero-unit__cta {
    margin-top: 32px;
    width: 100%;
  }
}
.hero-unit__content--double .hero-unit__cta a {
  width: 100%;
  padding: 24px 48px !important;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  /* 28.6px */
  letter-spacing: 0.44px;
}
.hero-unit__content--double .hero-unit__cta a svg {
  margin-left: 12px;
}
.hero-unit__content--double .hero-unit__subheading {
  max-width: 518px;
  color: var(--neutral-70);
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  /* 28.6px */
  letter-spacing: 0.44px;
}
@media (max-width: 739px) {
  .hero-unit__content--double .hero-unit__subheading {
    text-align: center;
  }
}
.sectionHeading {
  color: var(--neutral-100);
  font-size: 72px;
  font-weight: 600;
  line-height: 100%;
  /* 72px */
  letter-spacing: -1.44px;
  margin-bottom: 56px;
}
@media (max-width: 739px) {
  .sectionHeading {
    font-size: 56px;
    letter-spacing: -1.12px;
    margin-bottom: 32px;
    text-align: center;
  }
}
.sectionHeading span {
  color: var(--neutral-40);
}
.projectHeading {
  color: var(--neutral-100, #030712);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  /* 28.6px */
  letter-spacing: 0.44px;
  margin-bottom: 8px;
}
.projectSubheading {
  color: var(--neutral-70);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  letter-spacing: 0.36px;
}
.latestWorks__double {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 739px) {
  .latestWorks__double {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.latestWorks__double--item {
  max-width: 50%;
  width: 50%;
}
.latestWorks__double--item:nth-child(1) {
  margin-right: 32px;
}
@media (max-width: 739px) {
  .latestWorks__double--item {
    max-width: 100%;
    width: 100%;
    margin-bottom: 32px;
  }
  .latestWorks__double--item:nth-child(1) {
    margin-right: 0px;
  }
}
.latestWorks__double--item .projectShowcaseImage {
  margin-bottom: 24px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  background: #ebebeb;
  justify-content: center;
}
.latestWorks__double--item .projectShowcaseImage img {
  border-radius: 20px;
}
.latestWorks__double--item .projectShowcaseContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latestWorks__large {
  margin-bottom: 40px;
}
@media (max-width: 739px) {
  .latestWorks__large {
    margin-bottom: 32px;
  }
}
.latestWorks__large .projectShowcaseImageLarge {
  margin-bottom: 24px;
  text-align: center;
  background: #ebebeb;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.latestWorks__large .projectShowcaseImageLarge img {
  border-radius: 20px;
}
.latestWorks__large .projectShowcaseContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latestWorks__cta {
  margin-top: 56px;
  display: flex;
  justify-content: center;
}
@media (max-width: 739px) {
  .latestWorks__cta {
    margin-top: 0px;
  }
}
.latestWorks__cta a {
  color: var(--neutral-100);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.latestWorks__cta a:hover {
  transform: translateY(-10px);
}
.latestWorks__cta a svg {
  margin-left: 12px;
}
h5 {
  color: var(--neutral-100, #030712);
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  /* 40px */
  letter-spacing: -0.8px;
}
.selectedWorks__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--neutral-20);
}
@media (max-width: 739px) {
  .selectedWorks__top {
    flex-direction: column;
    align-items: center;
  }
}
.selectedWorks__list--itemLarge .listItemImg img {
  border-radius: 20px;
  width: 100%;
}
.selectedWorks__list .listItemSection {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--neutral-20);
  margin-bottom: 48px;
}
.selectedWorks__list .listItemTop {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  margin-bottom: 32px;
}
@media (max-width: 979px) {
  .selectedWorks__list .listItemTop {
    flex-direction: column;
    gap: 12px;
  }
}
.selectedWorks__list .listItemTop__left {
  width: 50%;
}
@media (max-width: 1279px) {
  .selectedWorks__list .listItemTop__left {
    width: 40%;
  }
}
@media (max-width: 979px) {
  .selectedWorks__list .listItemTop__left {
    width: 100%;
  }
}
.selectedWorks__list .listItemTop__mid {
  width: 30%;
}
@media (max-width: 1279px) {
  .selectedWorks__list .listItemTop__mid {
    width: 35%;
  }
}
@media (max-width: 979px) {
  .selectedWorks__list .listItemTop__mid {
    width: 100%;
    margin-bottom: 20px;
  }
}
.selectedWorks__list .listItemTop__right {
  width: 20%;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (max-width: 1279px) {
  .selectedWorks__list .listItemTop__right {
    width: 25%;
  }
}
@media (max-width: 979px) {
  .selectedWorks__list .listItemTop__right {
    width: 100%;
    justify-content: flex-start;
  }
}
.selectedWorks__cta {
  margin-left: 24px;
}
@media (max-width: 739px) {
  .selectedWorks__cta {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.selectedWorks__cta a svg {
  margin-left: 12px;
}
.visualPartner__list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}
.visualPartner__list--item {
  width: calc(25% - 36px);
}
@media (max-width: 739px) {
  .visualPartner__list--item {
    width: 100%;
    text-align: center;
  }
}
.strongLink {
  color: var(--neutral-90) !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  text-decoration-line: underline;
}
.strongLink:hover {
  color: var(--neutral-40) !important;
}
.finalShowcase {
  text-align: center;
  background: var(--neutral-20);
}
.finalShowcase__cta {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
}
@media (max-width: 979px) {
  .finalShowcase__cta {
    margin-top: 32px;
    width: 100%;
    margin-bottom: 32px;
    max-width: 100%;
  }
}
.finalShowcase__cta a {
  padding: 24px 48px !important;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  /* 28.6px */
  letter-spacing: 0.44px;
}
.finalShowcase__cta a svg {
  margin-left: 12px;
}
.finalShowcase__links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
footer {
  padding: 72px 0 48px 0;
  background: var(--neutral-100);
  border-top: 1px solid var(--neutral-70);
}
@media (max-width: 739px) {
  footer {
    padding: 40px 20px;
  }
}
footer .footerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--neutral-80);
}
@media (max-width: 739px) {
  footer .footerTop {
    flex-direction: column;
  }
}
footer .footerTop__left {
  color: var(--neutral-50);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  /* 28.6px */
  letter-spacing: 0.44px;
}
footer .footerTop__right {
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--neutral-60);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.32px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--neutral-0);
  margin-left: 20px;
}
@media (max-width: 739px) {
  footer .footerTop__right {
    margin-left: 0;
    margin-top: 32px;
  }
}
footer .footerMid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media (max-width: 739px) {
  footer .footerMid {
    flex-direction: column;
  }
}
footer .footerMid__left .footerText {
  color: var(--neutral-20);
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  /* 28.6px */
  letter-spacing: 0.44px;
  margin-top: 8px;
}
footer .footerMid__right {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  padding-left: 20px;
}
@media (max-width: 739px) {
  footer .footerMid__right {
    padding-left: 0px;
    margin-top: 24px;
  }
}
footer .footerMid__right a {
  border-radius: 100px;
  background: var(--neutral-90);
  display: flex;
  padding: 16px;
  align-items: flex-start;
}
footer .footerBottom {
  color: var(--neutral-60);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.32px;
}
